.red-text {
   color: red;
}

.green-text {
    color: #008311;
 }

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.clear {
   clear: both;
}


.m-1{
   margin-left: 1rem;
}

.border {
   border: solid 1px black;
}

.active_button {
   background-color:rgb(0, 165, 241);
}