<div class="container-fluid">
    <h1>Bootcamp Enrollment Form</h1>
    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
    <form  #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div *ngIf="!submitted">
        <div class="form-group" >
            <label>Name</label>
            <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="userName" [(ngModel)]="userModel.name">
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Irjal egy nevet ide bazd meg!</small>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="userModel.email">
        </div>
        <div class="form-group"> 
            <label>Phone</label>
            <input type="tel" #phone="ngModel" pattern="\d{10}$" required
            [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" [(ngModel)]="userModel.phone">
       <!--  <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Egy 10 szamjegyu rendes telefon szamit irj ide bazd meg!</small> -->
       <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
         <small class="text-danger" *ngIf="phone.errors.required">Nem lehet ures a tel szam!</small>
         <small class="text-danger" *ngIf="phone.errors.pattern">10 szamjegybol kell aljon a telefon szam!</small>
       </div>
    </div>
        <div>
            <select  (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" class="custom-select" #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched"  name="topic" [(ngModel)]="userModel.topic">
                <option value="default">I m interested in</option>
                <option *ngFor="let topic of topics">{{topic}}</option>
            </select>
            <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Kerlek valasz egy elemet</small>
        </div>
        <div class="mb-3">
            <label>Time Preference</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="timePreference"  [(ngModel)]="userModel.timePreference">
                <label class="form-check-label">Morning (9AM - 12AM)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="timePreference"  [(ngModel)]="userModel.timePreference">
                <label class="form-check-label">Evening (5PM - 8PM)</label>
            </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" name="subscribe" type="checkbox" [(ngModel)]="userModel.subscribe">
            <label class="form-check-label"> Send me promotional offers</label>
        </div >
        <button  [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit form</button>
    </div>
    </form>
</div>

<br />
{{userForm.form.valid}}
{{userForm.value | json}}
<hr />
{{userModel | json}}

<!-- div ngModelGroup="address">
    <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" name="street" ngModel>
    </div>
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city" ngModel>
    </div>
    <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" name="state" ngModel>
    </div>
    <div class="form-group">
        <label>Postal Code</label>
        <input type="text" class="form-control" name="postalCode" ngModel>
    </div>
</div> -->